.container {
  text-align: center;
}

img {
  height: 200px;
}

.grey {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
}

#lezioni {
  padding-top: 5%;
  padding-bottom: 2.5%;
}
#lezioni h3 {
  margin: 5px;
}
#lezioni .left .col-lg-4 {
  padding-top: 5%;
}
#lezioni .right .col-lg-8 {
  padding-top: 5%;
}

#steps {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
#steps .first .col-lg-10 {
  padding-top: 5%;
}
#steps .second .col-lg-10 {
  padding-top: 5%;
}
#steps .third .col-lg-10 {
  padding-top: 5%;
}
#steps h3 {
  margin: 5px;
}

#why .first .col-lg-10 {
  padding-top: 3%;
}
#why .second .col-lg-10 {
  padding-top: 3%;
}
#why .third .col-lg-10 {
  padding-top: 3%;
}
#why img {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
#why h3,
#why p {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #why .first p,
  #why .second p {
    padding: 0 5%;
  }
  #why hr {
    display: none;
  }

}

@media screen and (max-width: 767px) {

  p {
    margin: 0 2%;
  }
  #lezioni,
  #why {
    background: #F2F2CD;
  }

  #seps {
    background: white;
  }

  #lezioni img,
  #steps img {
    height: 120px;
  }

  #why img {
    height: 160px;
  }
}
